beautifulsoup4==4.13.3
pandas==2.2.3
requests==2.32.3
streamlit==1.42.0
xlsxwriter==3.2.0
openpyxl==3.1.2
langchain==0.3.18
langchain-openai==0.2.1
chromadb==0.4.24
crewai==0.102.0
pydantic<3.0.0,>=1.10.0
